body {
	background-color: #F2CF1D;
	color: rgb(180, 60, 196);
}

#board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:0 auto;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: xx-large;
	margin: 1em;
	color: #F2059F;
	font-family: 'Architects Daughter', cursive;
}
#messages {
	color: #03909F;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 30em;
	font-family: 'Syne Tactile', cursive;
	font-size: large;
}
.slidecontainer{
    color: #03909F;
    font-weight: bold;
	font-family: 'Syne Tactile', cursive;
	font-size: large;
	margin: 0 auto;
}

#start {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	background-color: #04D94F;
	padding: 0.5em;
	font-size: large;
	font-weight: bold;
	color: #D90404;
	text-align: center;
}

#reset {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	background-color: #04D94F;
	padding: 0.5em;
	font-size: large;
	font-weight: bold;
	color: #D90404;
	text-align: center;
}

td {
	width: 30px;
	height: 30px;
	border: solid 2px #888;
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
	background: lightgray;
}

@media screen and (min-width: 500px) {
	#board {
		margin: 1em 2em;
	}
	#score {
		margin: 1em 2em;
	}
	#message {
		margin: 1em 2em;
	}
	#snakelength {
		margin: 1em 2em;
	}
	.slider{
		margin: 1em 2em;	
	}
}


